a
{
	text-decoration: none;
}
/*site nav*/
nav
{
	width:100%;
	background-color:#005b85;
	border-bottom:5px solid #005074;
	height: 80px;
}

#navbar-wapper {
	max-width:1350px;
	width:100%;
	margin:0 auto;
}
.navbar-header{
	width:150px;
	height:80px;
	margin-left: 20px;
	float:left;
}


.navbar-brand {
	height: 80px;
	line-height:80px;
}

.navbar-brand img
{
	width:150px;
	margin-top:20px;
}

.navbar-collapse
{
	float: right;

}

.navbar-collapse ul
{
	margin:0;
	margin-right:20px;
	padding: 0;
	list-style: none;

}

.navbar-collapse ul li
{
	display: inline-block;
	line-height: 120px;
	height:80px;
}

.navbar-collapse ul li a
{
	color: #a6d9fb;
	/*display: block;*/
	width:260px;
	font-weight: 400;
	font-size:2em;
	height:120px;
	line-height: 80px;
	/*padding: 0px 5px;*/
	text-shadow: none;
}


.nav-btn
{
	margin-top:20px;
	width:64px;
	height: 40px;
	position: relative;
	left:4px;
	background:none;
	border:none;
	padding:0;
	float:left;
}
.nav-btn:hover
{
	background: none;
}
.nav-btn span
{
	display: block;
	width:60px;
	height:8px;
	margin-bottom:8px;
	background-color: #a7d9fc;

}


#firstscreen
{
	width:100%;
	height: 362px;
	/*background: url(../img/1stscreen.png) no-repeat scroll;*/
	background-size:100% 100%;
	position: relative;
}



#secondscreen
{
	width:100%;
	height: 302px;
	background: url(../img/secondscreen.png) no-repeat scroll;
	background-size:100% 100%;
}

#thirdscreen
{
	width:100%;
	height: 308px;
	background: url(../img/thirdscreen.png) no-repeat scroll;
	background-size:100% 100%;
}
#fourthscreen
{
	width:100%;
	height: 304px;
	background: url(../img/fourthscreen.png) no-repeat scroll;
	background-size:100% 100%;
}
footer
{
	width:100%;
	height: 308px;
	background: url(../img/footer.png) no-repeat scroll;
	background-size:100% 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
{
	
	
	
	
	
	
}




